<!DOCTYPE html>
<html>

<head>
    <%- include('./head'); %>
</head>

<body>
    <header>
        <%- include('./header'); %>
    </header>
    <main>
        <div>
            <%- include('./tabs'); %>
        </div>
        <div class="container">
            <div class="card float-start" style="width: 200px;">
                <img class="card-img-top" src="../images/git-white-simple.png" style="width: 120px; height: 120px"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dev Karelia</h5>
                    <p class="card-text">Repository for this website.</p>
                    <a href="https://github.com/Karelia-University-of-Applied-Sciences/dev-karelia" class="btn btn-primary">Repository</a>
                </div>
            </div>
            <div class="card" style="width: 200px;">
                <img class="card-img-top" src="../images/git-white-simple.png" style="width: 120px; height: 120px"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Karelia Campus</h5>
                    <p class="card-text">Karelia building models.</p>
                    <a href="#" class="btn btn-primary">Repository</a>
                </div>
            </div>
            <div class="card" style="width: 200px;">
                <img class="card-img-top" src="../images/git-white-simple.png" style="width: 120px; height: 120px"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Zigbee demo</h5>
                    <p class="card-text">Zigbee demonstration project and thesis.</p>
                    <a href="https://github.com/Karelia-University-of-Applied-Sciences/zigbee-tutorial" class="btn btn-primary">Repository</a>
                </div>
            </div>
            <div class="float-none">

            </div>
        </div>
    </main>
    <footer>
        <%- include('./footer'); %>
    </footer>
</body>

</html>