<!DOCTYPE html>
<html>

<head>
    <%- include('./head'); %>
</head>

<body>
    <header>
        <%- include('./header'); %>
    </header>
    <main>
        <div>
            <%- include('./tabs'); %>
        </div>
        <div class="container">
            <!-- Jumbotron -->
            <!-- <div class="row bg-image d-flex justify-content-center align-items-center" -->
            <div class="row bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white align-items-center">
                <p class="mb-3 h4">Access the Karelia APIs</p>
                <p>Get your API token by using the credentials given by your lecturer. The personal API token is valid
                    only for 12 hours.
                    The grant should not be used for production applications.</p>
                <p>Get your API token by logging in.</p>
            </div>
            <!-- Jumbotron -->
            <div class="row">
            </div>
        </div>
    </main>
    <footer>
        <%- include('./footer'); %>
    </footer>
</body>

</html>