<div class="d-flex justify-content-between" style="margin: 50">
  <div class="lead">
    <a href="/"> <i class="fa fa-home"></i> Front page </a>
  </div>
  <div class="text-center">
    <img
      src="../images/Karelia_logo_RGB.png"
      class="img-fluid"
      alt="Karelia University of Applied Sciences"
    />
  </div>
  <div class="text-end">
    <div class="lead">
      <a href="/login" class="nav-link"> Log In > </a>
    </div>
  </div>
</div>
