<div class="d-flex justify-content-between" style="margin: 50">
    <div class="text-start">
        <div class="lead">
            <a href="/">
                Karelia Developer Portal
            </a>
        </div>
    </div>
    <div class="text-center">
        <img src="../images/Karelia_logo_RGB.png" 
            class="img-fluid" 
            alt="Karelia University of Applied Sciences" />
    </div>
    <div class="text-end">
        <div class="lead">  
            <a class="nav-link disabled" 
                href="#" 
                tabindex="-1" 
                aria-disabled="true">
                To Dashboard ></a>
        </lead>
    </div>    
</div>
