<div id="blur-overlay"></div> <!--Blur-efekti, joka näkyy taustalla kun kirjautumisikkuna avautuu-->
<<div class="d-flex justify-content-between" style="margin: 50">
  <div class="lead">
    <a href="/"> <i class="fa fa-home"></i></a>
  </div>
  <div class="text-center">
    <a href="/">
      <img
        src="../images/logo3.png"
        class="img-fluid logo-glow"
        alt="Karelia University of Applied Sciences"
        style="width: 350px; height: 150px"
      />
    </a>
  </div>
  <div class="text-end">
    <div class="lead">
      <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
    </div>
  </div>
</div>
