<div class="d-flex justify-content-between" style="margin: 50">
  <div class="lead">
    <a href="/"> <i class="fa fa-home"></i></a>
  </div>
  <div class="text-center">
    <a href="/">
      <img
        src="../images/logo.png"
        class="img-fluid logo-glow"
        alt="Karelia University of Applied Sciences"
        style="width: 350px; height: 150px"
      />
    </a>
  </div>
  <div class="text-end">
    <div class="lead">
      <a href="/login" class="nav-link"> Log In</a>
    </div>
  </div>
</div>
