<!DOCTYPE html>
<html>
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <header><%- include('./header'); %></header>
    <main>
      <div><%- include('./tabs'); %></div>
      <div class="container">
        <!-- Jumbotron -->
        <!-- <div class="row bg-image d-flex justify-content-center align-items-center" -->
        <div
          class="row bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white align-items-center"
          style="background-image: url('../images/valopuu.png'); height: 50vh"
        >
          <!--<h1 class="mb-3 h2 animated-text">
            Improve your skills with Karelia Developer Portal
          </h1> -->
          <h1 class="mb-3 h3 animated-text">
            Welcome to the Karelia Developer Portal <br />
            <br />
            Platform where you can innovate and create smart campus solutions.
          </h1>
        </div>
        <!-- Jumbotron -->
        <div class="row"></div>
      </div>
    </main>
    <footer><%- include('./footer'); %></footer>
  </body>
</html>
