body {
  padding: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.nav {
  color: #ffffff;
  margin-bottom: 30px;
}

.d-flex {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

a,
a:link,
a:visited,
a:active,
.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
.nav-link:hover {
  color: darkgreen;
  text-decoration: none;
}

.facade {
  background-image: url("../images/valopuu.png");
  background-repeat: no-repeat;
}

h1 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

.card {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
}

button {
  background-color: lightgreen;
}

button:hover {
  border-color: rgb(209, 201, 201);
}

button:active {
  transform: scale(0.95);
}

#api-key-container {
  display: block;
}

#information-text {
  display: none;
}

#response-message {
  transition: all 0.3s ease-in-out;
}

/*animaatio Getting started otsikolle */
.animated-title {
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInSlideDown 7s ease-out forwards;
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Smokywhite hehku logolle */
.logo-glow {
  box-shadow: 0 0 25px 10px rgb(228, 225, 225); /* Hehkun väri ja koko */
  transition: box-shadow 0.3s ease-in-out; /* Animaatio hover-tilaa varten */
}

.logo-glow:hover {
  box-shadow: 0 0 35px 15px rgb(3, 68, 3); /* Korostettu hehku hover-tilassa */
}

/* Animaatio getting started sivun rakenteen kuva-teksti-osuuksille */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 7s ease-out forwards;
}

/* Animaation määrittely */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animaatio tekstille landingpage, kuvan päällä */
.animated-text {
  opacity: 0;
  font-weight: bold;
  transform: translateY(20px);
  animation: fadeInSlideDown 7s ease-out forwards;
}

/* Animaation määrittely */
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
