body {
  padding: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #2d2d32;
  color: #f1f3f5;
}

.nav-link {
  color: #f1f3f5;
}

.nav {
  color: #f1f3f5;
  margin-bottom: 30px;
}

.d-flex {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

a,
a:link,
a:visited,
a:active,
.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
  color: #f1f3f5;
  text-decoration: none;
}

a:hover,
.nav-link:hover {
  color: #006b38;
  text-decoration: none;
}

.facade {
  background-image: url("../images/valopuu.png");
  background-repeat: no-repeat;
}

h1 {
  color: #f1f3f5;
}

p {
  color: #f1f3f5;
}

button {
  background-color: #006b38;
}

button:hover {
  border-color: rgb(209, 201, 201);
}

button:active {
  transform: scale(0.95);
}

#api-key-container {
  display: block;
}

#information-text {
  display: none;
}

#response-message {
  transition: all 0.3s ease-in-out;
}

/* Yleinen karelia button */
.btn-karelia {
  background-color: #006b38;
  color: #f1f3f5;
  border: 2px solid #006b38;
  border-radius: 8px;
  padding: 5px 15px;
  transition: 0.2s ease;
  text-decoration: none;
  display: inline-block;
}

.btn-karelia:hover {
  background-color: #006b38;
  border-color: #006b38;
  cursor: pointer;
  color: #f1f3f5;
}

/* login modal(button style) */
.login-button {
  background-color: #006b38;
  color: #f1f3f5;
  border: 2px solid #006b38;
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 500;
  font-size: 15px;
}

.login-button:hover {
  background-color: #006b38;
  border-color: #006b38;
  cursor: pointer;
  transform: scale(1.02);
}

/* background blur */
#blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1051;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#blur-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/*  HAKUKOMPONENTIT */
.search-wrapper {
  max-width: 800px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-button {
  background-color: #006b38;
  color: #f1f3f5;
  border: 2px solid #006b38;
  border-radius: 8px;
  padding: 5px 15px;
  transition: 0.2s ease;
}

.search-button:hover {
  background-color: #006b38;
  border-color: #006b38;
  cursor: pointer;
}

.btn-outline-light:hover,
.letter-btn:hover,
.category-filter:hover,
.tag-filter:hover {
  background-color: #006b38;
  color: #ffffff;
  border-color: #ffffff;
}

/* laajennetun haun kuvake */
.burger-icon {
  font-size: 25px;
  cursor: pointer;
  padding: 6px 12px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  user-select: none;
  transition: background-color 0.3s ease;
}

.burger-icon:hover {
  background-color: #006b38;
}

/* cards */
.card {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #2d2d32;
  color: #f1f3f5;
  transition: background-color 0.3s ease, border 0.3s ease;
  border: 1px solid transparent;
}

.card-hover:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 0 15px #006b38;
  background-color: #3a3f44;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* projektikorttien tag-tyyli */
.project-tag {
  display: inline-block;
  background-color: #ccc;
  color: #333;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 10px;
  margin-bottom: 8px;
  margin-top: 5px;
  font-weight: 500;
}

/*animaatio Getting started otsikolle */
.animated-title {
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInSlideDown 0.8s ease-out forwards;
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Smokywhite hehku logolle */
.logo-glow {
  box-shadow: 0 0 15px 10px rgb(228, 225, 225);
  transition: box-shadow 0.3s ease-in-out;
}

.logo-glow:hover {
  box-shadow: 0 0 35px 15px #006b38;
}

/* Animaatio getting started sivun rakenteen kuva-teksti-osuuksille */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animaatio tekstille landingpage, kuvan päällä */
.animated-text {
  opacity: 0;
  font-weight: bold;
  transform: translateY(20px);
  animation: fadeInSlideDown 0.8s ease-out forwards;
}

/* for organizations -sivun sisällölle efektit */
.scroll-fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
/*Annetaan headerille ja muulle sisällölle tilaa */
.header-spacing {
  margin-bottom: 80px;
}

/* Puhekuplan muotoilu painikkeelle */
.speech-bubble-button {
  position: fixed; /*  painike oikeassa reunassa */
  bottom: 20px; /* Etäisyys sivun alareunasta */
  right: 20px; /* Etäisyys sivun oikeasta reunasta */
  background-color: #006b38; /* Painikkeen taustaväri */
  color: white; /* Tekstin väri */
  border: none; /* Poistetaan reunaviiva */
  border-radius: 20px; /* Pyöristetyt kulmat */
  padding: 10px 20px; /* Sisennykset */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Varjo */
  font-size: 16px; /* Tekstin koko */
  cursor: pointer; /* Hiiren osoitin muuttuu painikkeeksi */
}

/* Puhekuplan kärki */
.speech-bubble-button::after {
  content: "";
  position: absolute;
  bottom: -10px; /* painikkeen alapuoli */
  right: 20px; /* sijainti oikealla */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #006b38; /* Värin yhtenäistämistä */
}

/* Hover-efekti */
.speech-bubble-button:hover {
  background-color: #006b38; /* vihreä hover-tilassa */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Korostettu varjo hover-tilassa */
}

/* Lähetä-painikkeen tyyli */
button[type="submit"] {
  background-color: #006b38; /* Vihreä taustaväri */
  color: whitesmoke; /* Valkoinen teksti */
  border: none; /* Poistetaan reunaviiva */
  border-radius: 8px; /* Pyöristetyt kulmat */
  padding: 10px 20px; /* Sisennykset */
  font-size: 16px; /* Tekstin koko */
  cursor: pointer; /* Hiiren osoitin muuttuu painikkeeksi */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Hover-animaatio */
}

button[type="submit"]:hover {
  background-color: #00512e; /* Tummempi vihreä hover-tilassa */
  transform: scale(1.05); /* Pieni suurennus hover-tilassa */
}

button[type="submit"]:active {
  transform: scale(0.95); /* Pieni pienennys klikatessa */
}

/* Palautelaatikon taustaväri */
.modal-content {
  background-color: #2d2d32; /* Vaaleanharmaa taustaväri */
  color: whitesmoke; /* vaalea teksti */
  border-radius: 10px; /* Pyöristetyt kulmat */
  padding: 20px; /* Sisennykset */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Varjo */
}

/* Header osuuden logon oletuskoko */
.logo-glow {
  width: 350px;
  height: auto; /* Säilyttää kuvasuhteen */
  max-width: 100%; /* Skaalaa logon  */
}

/* Desktop: vaakasuuntainen rakenne */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

/* Kolme lohkoa vierekkäin */
.left-side,
.center-logo,
.right-side {
  flex: 1;
}

/* Keskitetään logo desktop-näkymässä */
.center-logo {
  display: flex;
  justify-content: center;
}

/* Oikean reunan sisältö (kirjautuminen + kielet) */
.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Mobiilinäkymä (max 576px leveys) */
@media (max-width: 576px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-side,
  .center-logo,
  .right-side {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  /* Pakotetaan oikea järjestys mobiilissa */
  .left-side {
    order: 1;
  }

  .center-logo {
    order: 2;
  }

  .right-side {
    order: 3;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

/* Kielivalintanapit: tyyli, hover ja aktiivinen tila */
.language-switch {
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
  color: #006b38;
}

.language-switch:hover {
  color: #006b38;
}

.language-switch.active {
  color: #006b38;
}

.allow-linebreaks {
  white-space: normal;
}

.hero-wrapper {
  background-image: url("../images/valopuu.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  text-align: center;
  color: #fff;
}

.hero-text-wrapper {
  max-width: 600px;
  width: 100%;
}

.hero-title,
.hero-subtitle {
  margin: 0 auto;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: normal;
  hyphens: none;
  text-align: center;
  line-height: 1.4;
}

.hero-title {
  font-size: clamp(1.2rem, 6vw, 2rem);
  font-weight: bold;
}

.hero-subtitle {
  font-size: clamp(1rem, 4.5vw, 1.5rem);
  margin-top: 1rem;
}

@media (min-width: 1200px) {
  .hero-text-wrapper {
    max-width: 1000px;
  }

  .hero-title {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .first-partner-section {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .first-partner-section p,
  .first-partner-section h2 {
    text-align: center;
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: none;
  }
}

@media (max-width: 576px) {
  main.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
